



 /*.img-container{
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.store-img{
  transition: all 1s ease-in-out;
  width: 450px;
  height: 300px;
}
.img-container:hover.store-img{
  transform: scale(1.2);
}
    .store-item-icon{
  position: absolute;
  padding:10px;
  top: 70%;
  right: 5rem;
  background: var(--mainYellow);
  transition: all 0.3s linear;
  transform: translate(100%,190%);
}
.img-container:hover .store-item-icon {
  transform: translate(0, 0); 
  color: yellow ;
}
.img-container:hover .store-img {
  opacity: 0.75;
}*/

.store-img{
  transition: all 1s ease-in-out;
  width: 450px;
  height: 300px;
}
.cart {
  position: absolute;
  min-height: 10rem;
  top: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  background: rgb(248,248,255);
  width: 0;
  overflow: hidden;
  margin-top: 80px;
  margin-right: 20px ;

}
.show-cart {
  width: 25rem;
  padding: 2rem 1.5rem;
  transform: rotateY(-360deg);
}
.fa-trash{
  color: red;
  cursor: pointer;
}
.quantity-input{
  width: 50px;
  border: none;
}